
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.full-container {
  width: 100%;
  min-height: 100vh;
}

.btn-block {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.mat-tab-label,
.mat-tab-link {
  color: #000 !important;
}
