.main-grid {
  padding-top: 75px;

  display: grid;
  grid-template-columns: 65% 35%;
}

.grid-item {
  padding: 2em;
}

.btn {
  padding: 12px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.export-report-btn {
  margin-bottom: 20px;
  float: right;
  background-color: black;
  color: white;
}

@media (max-width: 1000px) {
  .main-grid {
    grid-template-columns: auto;
    max-width: 100vw;
  }
  .grid-item {
    padding: 1em;
  }
  .table-container {
    order: 2
  }
  .form-container {
    order: 1
  }
}