.main-grid {
  padding: 10px;
  padding-top: 75px;

  display: grid;
  grid-template-columns: 65% 35%;
  gap: 10px;
}

.grid-item {
  padding: 2em;
}

@media (max-width: 1000px) {
  .main-grid {
    grid-template-columns: 1fr;
    gap: 5px;
  }
  .grid-item {
    padding: 0;
  }
  .table-container {
    order: 2;
    margin-top: 3em
  }
  .form-container {
    order: 1
  }
}